body{
     font-family: 'Oswald', sans-serif;
}

.home-page-img {
    height: 500px;
    width: 100%;
}
.home-page-dis {
    padding: 61px;

}
.home-title{
    color: coral;
    
}
.home-title-size{
    font-size: 75px;
    font-weight: bolder;
    


}
.home-button-size {
    height: 65px;
    width: 43%;
    border: none;
    border-radius: .5em;
    padding: -78px;
}
    

.icon-img {
    height: 44px;
    width: 42%;
}
.nav-button {
    float: right;
    padding-right: 0px;
    margin: -140px;
    font-size: 18px;
    
}
    

.shoes-area {
    padding: 15px;
    background-color: white;
    border-radius: 1em;

}
.buy-button{
    height: 30px;
    width: 30px;

}
.product-price {
    font-size: 40px;
    color: coral;
    font-weight: bold;
    margin-left: -29px;
}
.casual-img{
    border-radius: 2em;
    padding: 10px;
}
.shoes-description {
    padding: 5px;
}
.product-buy{
    font-size: 45px;
    margin-right: 20px;

}
.button-size{
    height: 65px;
    width: 120%;
    border: none;
    border-radius: .5em;
    margin-left: 28px;
}
.buy-pro {
    font-size: 15px;
    color: white;
    font-weight: bold;
}


.fit-img{
    height: 70px;
    width: 90px;
}


.flex-box{
    border-radius: 20px;
}
.shopping-mall-img{
    height: 385px;
    width: 100%;

}